.title{
    color: darkgreen;
    font-size: x-large;
}
.space{
    height: 10px;
}
.image{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.heading{
    font-size: x-large;
    color: white;
}

.subheading{
    font-size: 20px;
    color: darkgreen;
}

.headingRed{
    font-size: xx-large;
    color: red;
    width: 30%;
    margin-left: 35%;
}

.headingPurple{
    font-size: xx-large;
    color: purple;
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}