.card{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    height: 80%;
    background-image: radial-gradient(circle, rgb(199, 50, 13), rgb(145, 97, 8), rgb(238, 112, 8));
}

.inputChain{
    width: 80%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    background-color: rgb(70, 21, 9);
}

.Title{
    font-size: large;
    color: black;
}

.info{


}

.button{


}